.wrapper{
    height: auto;
    padding: 0px 0px 40px 0px;

    .obras-view{
        height: 800px;
        margin: 0px 0px 80px 0px;
        padding: 20px 0px;

        img{
            max-height: 800px;
        }
    }

    .buttons{
        
        button{
            margin: 0px 5px 10px 0px;
        }
    }

    .info-options{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}