<div class="wrapper">

        <h1>Minhas obras</h1>
    
        <div *ngFor="let obra of obras" class="obras-view">

          <div class="info-options">
            <h4>{{obra.nome}}</h4> 

            <div class="buttons">
              <button (click)="delete(obra.id)" class="btn btn-danger">Deletar</button>
              <button (click)="navigateToUpdate(obra.id)" class="btn btn-warning">Editar</button>
            </div>
          </div>
  
          <ngb-carousel>
  
              <ng-template *ngFor="let imagem of obra.imagems" ngbSlide>
                <div class="picsum-img-wrapper">
                  <img [ngStyle]="{'filter': imagem.filtro}" src="http://127.0.0.1:8000/storage/{{imagem.imagem}}" alt="Carousel">
                </div>
              </ng-template>  
            
          </ngb-carousel>
          
      </div>

</div>