.wrapper{
    height: auto;
    padding: 0px 0px 40px 0px;

    .obras-view{
        height: 800px;
        margin: 50px 0px;
        padding: 20px 0px;

        img{
            max-height: 800px;
        }
    }

    .buttons{
        
        button{
            margin: 5px;
        }
    }

}