<h2>Perfil</h2>

<div class="perfil">
  
      <div class="form-group">
        <label for="name">Nome</label>
        <input value="{{user.name}}" type="name" class="form-control" name="name" disabled>
      </div>
  
      <div class="form-group">
        <label for="email">E-mail</label>
        <input value="{{user.email}}" type="text" class="form-control" name="email" disabled>
      </div>

      <div class="form-group">
        <label for="obras">Usuário desde</label>
        <input value="{{user.created_at | date}}" type="obras" class="form-control" name="obras" disabled>
      </div>

      <div class="form-group">
        <label for="obras">Obras</label>
        <input placeholder="2" type="obras" class="form-control" name="obras" disabled>
      </div>
  
  </div>