<div class="wrapper">
    <h1>Bem vindo ao Museu de Imagens</h1>

    <div *ngFor="let obra of obras" class="obras-view">

        <h4>{{obra.nome}}</h4>

        <ngb-carousel>

            <ng-template *ngFor="let imagem of obra.imagems" ngbSlide>
              <div class="picsum-img-wrapper">
                <img [ngStyle]="{'filter': imagem.filtro}" class="image-preview" src="http://127.0.0.1:8000/storage/{{imagem.imagem}}" alt="Carousel">
              </div>
            </ng-template>  
          
          </ngb-carousel>
    </div>

</div>